@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Playfair+Display&display=swap');


/* Every page stuff */
body {
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

header {
    display: grid;
    grid-template-columns: 180px auto;
    background-color: #6cb8c2;
    border-style: ridge;
    border-width: 1em;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 37px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: rgb(90, 85, 85)
}

nav a:hover {
    color: #f5f6e9;
    background-color: #05668D;
}

#logo-link {
    padding-top: 2px;
    justify-self: center;
    align-self: center;
}

.logo {
    padding: 20px;
    background-color: rgb(90, 85, 85);
    width: 100px;
}

footer {
    background-color: #6cb8c2;
    padding: 25px;
    border-style: ridge;
    border-width: 1em;
    font-family: Karla, Montserrat, "Playfair Display", sans-serif;
    text-align: center;
}


/* Home page stuff */

.home-page-content {
    max-width: 1800px;
    background-color: #f5f6e9;
    padding-bottom: 20px;
}

.home-page-title {
    font-family: "Playfair Display", Montserrat, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: rgb(90, 85, 85);
    background-color: #6cb8c2;
    margin: 0;
    padding: 20px;
    border-style: ridge;
    border-width: 1em;
}

.home-page-intro {
    text-align: center;
    color: rgb(90, 85, 85);
    font-size: 1.5em;
}

.home-page-part-one {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: Karla, Montserrat, "Playfair Display", sans-serif;
    border-style: double;
}

.site-purpose {
    grid-column: 1/5;
    font-size: 1.25em;
}

#home-page-picture-one {
    grid-column: 5/6;
    padding: 20px;
    align-self: center;
}

.home-page-part-two {
    padding: 20px;
    font-family: Karla, Montserrat, "Playfair Display", sans-serif;
    font-size: 1.25em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    border-style: double;
}

.testimony {
    grid-column: 2/6;
}

#home-page-picture-two {
    grid-row: 1/2;
    padding: 20px;
    align-self: center;
}

p:nth-of-type(1), p:nth-of-type(2), p:nth-of-type(3) {
    text-indent: 50px;
}


/* Page two stuff */

.page-two-content {
    background-color: #f5f6e9;
    max-width: 1800px;
    overflow: hidden;
}

.page-two-title {
    border-width: 1em;
    border-style: ridge;
    font-family: "Playfair Display", Montserrat, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: rgb(90, 85, 85);
    background-color: #6cb8c2;
    margin: 0;
    padding: 20px;
}

.page-two-intro {
    text-align: center;
    color: rgb(90, 85, 85);
    font-size: .75em;
}

.page-two-part-two {
    display: flex;
    justify-content: space-around;

}

#page-two-picture-one {
    padding: 50px;
}

#page-two-picture-two {
   padding: 50px;
   width: 400px;
   height: 300px;
   align-self: center;
}

.clarification {
    font-size: 1.5em;
    justify-self: center;
    align-self: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #f5f6e9;
    color: #6cb8c2;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.25em;
    font-family: Karla, Montserrat, "Playfair Display", sans-serif;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: rgb(90, 85, 85);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    font-size: 1.25em;
    background-color: #f5f6e9;
    display: none;
    overflow: hidden;
    font-family: Karla, Montserrat, "Playfair Display", sans-serif;
  }

/* Form styling */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: block;
    width: 90px;
    /* text-align: right; */
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 100%;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
    padding: .5rem;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* Small screen stuff */

@media screen and (max-width: 900px) {
    nav a {
        display: block;
        padding: 15px;
    }

    nav, footer {
        flex-direction: column;
    }

    .home-page-content {
        height: auto;
    }

    footer {
        margin-top: 25px;
    }

    .home-page-title {
        font-size: 25px;
    }

}