  body {
    background-color: grey
  }
  
  div img {
    padding-bottom: 100px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  footer img {
    margin-left: 130px;
    margin-right: 25px;
    display: inline-block;
    width: 250px;
    border: 12px solid rgb(100, 99, 99);
    border-radius: 150px
  }

  p {
    padding-bottom: 50px;
  }